{% extends "base.html" %}

{% block content %}
  <div class="col-sm-8 col-sm-offset-3">
    <h1>Your posts</h1>
    <div class="row">
      {% for post in queryset %}
      <div class="col-sm-12">
        <div class="thumbnail">
          {% if post.image %}
            <img src="{{ post.image.url }}">
          {% endif %}
          <div class="caption">
            <h3>
              <a href="{{ post.get_absolute_url }}" >{{ post.title }}</a><br/>
              <small>{{ post.timestamp|timesince }} ago</small>
            </h3>
            {% if post.user.get_full_name %}
              <p>Author: {{ post.user.get_full_name }}</p>
            {% endif %}
            <p>{{ post.content|linebreaks|truncatechars:50 }}</p>
            {% if post.user.get_full_name == user.socialaccount_set.all.0.extra_data.name %}
              <p>
                 <a href="{{ post.get_absolute_url }}edit" class="btn btn-primary" role="button">Edit</a>
              </p>
            {% endif %}
          </div>
        </div>
      </div>

      <!--
        {% cycle "" "<div class='col-sm-12'></hr></div> </div><div class='row'>" %}
      -->
    </hr>

  {% endfor %}
  <!--<div class="pagination">
      <span class="step-links">
          {% if queryset.has_previous %}
              <a href="?page={{ queryset.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
          </span>

          {% if queryset.has_next %}
              <a href="?page={{ queryset.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>-->
  <div class="text-center">
    {% for num in queryset.paginator.page_range %}
      {% ifequal num queryset.number %}
        <span class="btn btn-info">{{ num }}</span>
      {% else %}
        <a href="?page={{ num }}" class="btn btn-default"> {{ num }}</a>
      {% endifequal %}
    {% endfor %}
  </div>



    </div>
{% endblock %}



</div>
